<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.err</Target>
        <encoder>
            <pattern>%d{ABSOLUTE} %5p %c{1}:%L - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <appender name="D" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>mylogs/log.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [ %t:%r ] - [ %p ] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <appender name="E" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>mylogs/error.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [ %t:%r ] - [ %p ] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <root level="debug">
        <appender-ref ref="stderr"/>
        <appender-ref ref="D"/>
        <appender-ref ref="E"/>
    </root>
</configuration>